.container {
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

.infoContainer {
    flex: 1;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    color: var(--textSoft);
}

.imageContainer {
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.formContainer {
    flex: 3;
}